// content

$content-width: 1400px;
$tablet-width: 640px;
$mobile-width: 320px;

// colors

$color-primary: #f58021;
$color-primary-darker: #d26004;
$color-alternative: #00a092;
$color-alternative-darker: #05786e;
$color-secondary: #20113d;
$color-bright: #ffffff;
$color-dark: #000000;

// fonts
$font-primary: "Montserrat", sans-serif;

// transition

$transition: all 0.2s ease-in-out;

// for testing

$border: 1px dashed lightblue;
