html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  display: block;
  border-width: 1px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
.heading_h1 {
  font-size: 8.2rem;
  font-weight: 800;
  line-height: 10rem;
  letter-spacing: 0.01rem;
}
.heading_h2 {
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 6.6rem;
}
.heading_bright-color {
  color: #ffffff;
}
.heading_alternative-color {
  color: #00a092;
}
.heading_secondary-color {
  color: #20113d;
}
.heading_h3 {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5.1rem;
}

.subheading {
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 640px) {
  .wrapper {
    max-width: 640px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
  }
}
@media (max-width: 640px) {
  .heading_h1 {
    font-size: 7.2rem;
    line-height: 8.8rem;
  }
}
@media (max-width: 320px) {
  .heading_h1 {
    font-size: 4rem;
    line-height: 4.9rem;
  }

  .heading_h2,
.heading_h3 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.2rem;
  }
}
.header {
  background-color: #f58021;
}

.header__wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.hamburger-menu {
  display: none;
}

.stick-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.stick {
  height: 2.3px;
  width: 30px;
  background-color: #20113d;
  position: absolute;
}
.stick_top {
  top: 0;
}
.stick_middle {
  top: 15px;
}
.stick_bottom {
  bottom: 0;
}

@media (max-width: 1200px) {
  .header__wrapper {
    padding: 0 100px;
  }
}
@media (max-width: 640px) {
  .header__wrapper {
    padding: 0 47px 0 20px;
  }

  .nav-socials {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
.ico {
  transition: all 0.2s ease-in-out;
}
.ico_bright {
  fill: #ffffff;
}
.ico_secondary {
  fill: #20113d;
}

.button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
}
.button_primary {
  background-color: #f58021;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.button_primary:hover {
  background-color: #d26004;
  box-shadow: 0px 4px 30px rgba(245, 130, 36, 0.3);
}
.button_transparent {
  background-color: transparent;
  color: #f58021;
}
.button_transparent:hover {
  background-color: #f58021;
  color: #ffffff;
}
.button_alternative {
  background-color: #00a092;
  color: #ffffff;
}
.button_alternative:hover {
  background-color: #05786e;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}
.button_transparent-bordered-secondary {
  background-color: transparent;
  border: 1px solid #20113d;
}
.button_transparent-bordered-secondary:hover {
  background-color: #20113d;
  color: #ffffff;
}
.button_transparent-bordered-bright {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button_transparent-bordered-bright:hover {
  background-color: #00a092;
}
.button_size359x74 {
  width: 359px;
  height: 74px;
}
.button_size240x74 {
  width: 240px;
  height: 74px;
}
.button_size142x74 {
  width: 142px;
  height: 74px;
}
.button_size80x74 {
  width: 80px;
  height: 74px;
}
.button_size60x60 {
  width: 60px;
  height: 60px;
}

.button-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-space {
  width: 10px;
  height: 1px;
}

.button-arrow {
  width: 25px;
  height: 22px;
  transition: all 0.2s ease-in-out;
}
.button-arrow_reversed {
  transform: rotate(180deg);
}
.button-arrow_bright {
  fill: #ffffff;
}
.button-arrow_primary {
  fill: #f58021;
}
.button-arrow_secondary {
  fill: #20113d;
}

.button_transparent:hover .button-arrow_primary {
  fill: #ffffff;
}

.button_transparent-bordered-secondary:hover .button-arrow_secondary {
  fill: #ffffff;
}

.button_size60x60:hover .button-arrow_bright {
  fill: #20113d;
}

.button_transparent-bordered-bright.button_size60x60:hover {
  background-color: #ffffff;
}

.button_transparent-bordered-secondary.button_size60x60:hover {
  background-color: #20113d;
}

@media (max-width: 320px) {
  .button_320 {
    width: 100%;
    height: 45px;
  }
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 556px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.navigation__link_bright {
  color: #ffffff;
}
.navigation__link:hover {
  color: #00a092;
}
.navigation__link_current {
  color: #00a092;
  cursor: default;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.socials__icon {
  width: 40px;
  height: 40px;
}

.socials__link {
  position: relative;
}
.socials__link::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  left: 0px;
  bottom: 4px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.socials__link:hover::after {
  opacity: 0.2;
}

.watch__bg {
  height: 790px;
  background-image: url(../assets/images/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.watch__wrapper {
  padding-top: 130px;
}

.watch__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px;
}

.watch__heading {
  width: 890px;
}

.watch__subheading {
  width: 430px;
}

@media (max-width: 1200px) {
  .watch__bg {
    height: 690px;
  }

  .watch__wrapper {
    padding: 100px 40px 0;
  }

  .watch__content {
    height: 490px;
  }
}
@media (max-width: 640px) {
  .watch__wrapper {
    padding: 50px 20px;
  }

  .watch__content {
    height: 544px;
  }

  .watch__heading {
    width: auto;
  }

  .watch__bg {
    height: 644px;
    background-size: contain;
    background-position: bottom;
  }
}
@media (max-width: 320px) {
  .watch__bg {
    width: 100%;
    height: 685px;
    background-image: url(../assets/images/top-background-320.jpg);
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
  }

  .watch__wrapper {
    padding: 20px 10px 0;
  }

  .watch__content {
    justify-content: flex-start;
    height: auto;
  }

  .watch__heading {
    margin-bottom: 20px;
    width: auto;
  }

  .watch__subheading {
    width: auto;
    margin-bottom: 30px;
  }
}
.welcome__wrapper {
  padding: 75px 0;
}

.welcome-content__wrapper {
  padding: 75px 0;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  height: 531px;
}

.welcome-content__description {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-content__heading {
  margin-bottom: 50px;
}

.welcome-content__img {
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .welcome__wrapper {
    padding: 100px;
  }

  .welcome-content__wrapper {
    padding: 0;
  }

  .welcome-content {
    flex-direction: column-reverse;
    height: auto;
  }

  .welcome-content__description {
    margin-top: 30px;
  }

  .welcome-content__heading {
    margin-bottom: 30px;
  }

  .welcome-content__img {
    width: 660px;
  }

  .welcome-content_reversed {
    flex-direction: column;
    padding-top: 50px;
  }

  .welcome-content__wrapper_right {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 640px) {
  .welcome__wrapper {
    padding: 100px 0 50px;
  }

  .welcome-content__pic {
    height: 413px;
  }

  .welcome-content__img {
    width: 100%;
  }

  .welcome-content_reversed {
    padding-top: 0px;
  }

  .welcome-content__description {
    width: 100%;
    padding: 0 20px;
  }

  .welcome-content__subheading {
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .welcome__wrapper {
    padding: 50px 0 0;
  }

  .welcome-content__pic {
    height: auto;
  }
}
.quick-donate {
  background-color: #20113d;
  padding: 50px 0;
}

.quick-donate__wrapper {
  display: flex;
  justify-content: space-between;
}

.quick-donate__heading {
  color: #ffffff;
  max-width: 889px;
  margin-bottom: 20px;
}
.quick-donate__heading_eagle {
  max-width: 924px;
}
.quick-donate__heading_gorilla {
  max-width: 924px;
}
.quick-donate__heading_lemur {
  max-width: 910px;
}

.quick-donate__subheading {
  color: #ffffff;
  max-width: 609px;
}
.quick-donate__subheading_panda {
  max-width: 873px;
}
.quick-donate__subheading_eagle {
  max-width: 924px;
}
.quick-donate__subheading_gorilla {
  max-width: 924px;
}
.quick-donate__subheading_lemur {
  max-width: 910px;
}

.quick-donate__form {
  display: flex;
  flex-direction: column;
}

.quick-donate__input-label {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 10px;
}

.quick-donate__input-container {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 322px;
  height: 76px;
}

.quick-donate__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 14px;
}

.quick-donate__input-presymbol,
.quick-donate__input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.quick-donate__input {
  background-color: #20113d;
  margin: 0 5px;
  width: 205px;
}
.quick-donate__input::placeholder {
  color: #ffffff;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.quick-donate__input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 1200px) {
  .quick-donate {
    padding: 0;
  }

  .quick-donate__wrapper {
    padding: 50px 100px;
  }

  .quick-donate-zoos__wrapper {
    padding: 30px 40px;
  }

  .quick-donate__title {
    max-width: 576px;
  }

  .quick-donate-zoos__wrapper .quick-donate__title {
    max-width: 707px;
  }
}
@media (max-width: 640px) {
  .quick-donate__wrapper {
    flex-direction: column;
    padding: 50px 20px;
  }

  .quick-donate__heading,
.quick-donate__subheading {
    margin-bottom: 30px;
    text-align: center;
  }

  .quick-donate__form {
    margin: 0 auto;
  }

  .quick-donate__input-label {
    text-align: center;
  }

  .quick-donate__input-container {
    width: 365px;
  }

  .quick-donate__input-wrapper {
    padding-left: 36px;
  }

  .quick-donate__input {
    width: 226px;
  }
}
@media (max-width: 320px) {
  .quick-donate__wrapper {
    padding: 30px 10px 40px;
  }

  .quick-donate__input-container {
    width: auto;
    height: auto;
  }

  .quick-donate__input-wrapper {
    padding-left: 36px;
    justify-content: space-between;
  }

  .quick-donate__input {
    width: auto;
  }

  .quick-donate__input-presymbol,
.quick-donate__input {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .quick-donate__input {
    width: 180px;
  }

  .quick-donate__form {
    margin: 0;
  }

  .quick-donate__input-container .button_320 {
    width: 59px;
  }
}
.meet {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.meet__wrapper {
  padding: 136px 0 150px;
}

.meet__heading {
  text-align: center;
  margin-bottom: 50px;
}

.meet__subheading {
  max-width: 920px;
  text-align: center;
  margin: 0 auto;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.meet-slider {
  margin-bottom: 100px;
}

.meet-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .meet__wrapper {
    padding: 100px 0 150px 40px;
  }

  .meet__heading {
    margin-bottom: 30px;
  }

  .meet-slider {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .meet__wrapper {
    padding: 100px 20px;
  }

  .meet__heading {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .meet__subheading {
    margin-bottom: 50px;
  }

  .meet-slider {
    width: 1220px;
  }
}
@media (max-width: 320px) {
  .meet__wrapper {
    padding: 50px 5px 64px;
  }

  .meet__heading {
    width: 100%;
    margin-bottom: 30px;
  }

  .meet__subheading {
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 30px;
  }

  .meet-slider {
    width: 290px;
    overflow: hidden;
    margin: 0 auto;
  }

  .meet-button {
    display: none;
  }
}
.slider__slides {
  display: flex;
  justify-content: space-between;
}

.slider__buttons {
  width: 175px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 50px;
}

.slide {
  width: 440px;
  height: 747px;
  background-color: #20113d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  transition: transform 0.2s ease-in-out;
  margin: 0 40px 40px 0;
  position: relative;
}
.slide:hover {
  transform: scale(1.045);
}
.slide:last-child:hover {
  transform: none;
}

.slide__bage {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #20113d;
  padding: 12px 20px;
  border-radius: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
  text-transform: capitalize;
}

.slide__img {
  border-radius: 5px 5px 0 0;
}

.slide__title {
  padding: 30px;
}

.slide__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
}

.slide__subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  height: 80px;
}

.slide__button {
  position: absolute;
  bottom: 50px;
}

.slide-button-link {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .slider__buttons {
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 30px;
  }

  .slide {
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 640px) {
  .slider__buttons {
    display: none;
  }

  .slide {
    width: 290px;
    height: 600px;
  }

  .slide__img {
    width: 290px;
    height: 333px;
    object-fit: cover;
  }

  .slide__title {
    padding: 15px 25px 0;
  }

  .slider__slides_second {
    display: none;
  }

  .slide__subheading {
    margin-top: 15px;
  }

  .slide__button {
    bottom: 10px;
  }

  .slide {
    margin: 0 20px 0px 0;
  }
}
.pay-feed {
  background-color: #20113d;
}

.pay-feed__wrapper {
  padding: 90px 0 100px;
}

.pay-feed-desc__divider {
  display: flex;
  align-items: center;
  margin: 100px 0 90px;
}

.pay-feed-desc__count {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
  width: 120px;
}

.pay-feed-desc__line {
  width: 100%;
  border-color: #ffffff;
}

.pay-feed-detail__img {
  border-radius: 5px;
  width: 560px;
}

.pay-feed-title__icon {
  fill: #00a092;
  height: 80px;
  margin-bottom: 30px;
}
.pay-feed-title__icon_1 {
  width: 106px;
}
.pay-feed-title__icon_2 {
  width: 100px;
}
.pay-feed-title__icon_3 {
  width: 80px;
}

.pay-feed-title {
  padding: 20px 0 0 20px;
}

.pay-feed-title__title,
.pay-feed-title__text {
  width: 560px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.pay-feed-title__title {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 50px;
}

.pay-feed-title__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.pay-feed-button-container {
  margin-top: 50px;
}

.pay-feed-button-wrapper {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .pay-feed__wrapper {
    padding: 150px 40px 100px;
  }

  .pay-feed__heading {
    margin-bottom: 100px;
  }

  .pay-feed-desc__divider {
    margin: 80px 0 62px;
  }

  .pay-feed-detail__img {
    width: 550px;
  }

  .pay-feed-detail {
    display: flex;
    align-items: center;
  }

  .pay-feed-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pay-feed-title__title,
.pay-feed-title__text {
    width: 550px;
    text-align: center;
  }

  .pay-feed-title__title {
    margin-bottom: 30px;
  }

  .pay-feed__content {
    margin-bottom: 100px;
  }

  .pay-feed-button-container {
    margin-top: 0px;
  }
}
@media (max-width: 640px) {
  .pay-feed__wrapper {
    padding: 80px 0px;
  }

  .pay-feed__heading {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }

  .pay-feed-desc__divider {
    margin: 50px 0;
    padding: 0 20px;
  }

  .pay-feed-detail {
    flex-direction: column;
  }

  .pay-feed-title {
    padding: 0 20px;
    margin-top: 50px;
  }

  .pay-feed-button-container {
    flex-direction: column;
  }

  .pay-feed__content {
    margin-bottom: 50px;
  }

  .pay-feed-button-wrapper {
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .pay-feed__wrapper {
    padding: 20px 0px 50px;
  }

  .pay-feed-desc__divider {
    margin-bottom: 30px;
    padding-left: 10px;
  }

  .pay-feed-detail__img {
    width: 100%;
  }

  .pay-feed-title {
    margin-top: 30px;
  }

  .pay-feed-title__title,
.pay-feed-title__text {
    width: 100%;
  }

  .pay-feed-button-wrapper {
    padding: 0 10px;
    margin: 0;
  }
}
.our-users {
  background-image: url(../assets/images/user-think-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  overflow: hidden;
}

.our-users__wrapper {
  padding: 100px 0 150px;
  display: flex;
}

.our-users__title {
  width: 560px;
  flex-shrink: 0;
  margin-right: 40px;
}

.our-users__heading {
  width: 440px;
  margin-bottom: 50px;
}

.our-users__subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-wrapper {
  display: flex;
}

.our-users__feedback {
  margin: 0 30px 30px 0;
}
.our-users__feedback:last-child {
  margin-right: 0;
}

.feedback-disc-wrapper {
  width: 92px;
  margin: 30px auto 50px;
  display: none;
  justify-content: space-between;
}

.feedback-disc {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.feedback-disc_current {
  background-color: #ffffff;
}

.feedback-button-container {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-top: 60px;
}

.leave-feedback-button {
  margin-top: 376px;
}

@media (max-width: 1200px) {
  .our-users__wrapper {
    flex-direction: column;
    padding: 100px 0 0px 40px;
  }

  .our-users__heading {
    margin-bottom: 30px;
  }

  .our-users__subheading {
    margin-bottom: 50px;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .our-users__title {
    width: 577px;
  }

  .feedback-button-container {
    margin: 70px 40px 0 0;
  }

  .leave-feedback-button {
    margin: 97px 0 150px 140px;
  }
}
@media (max-width: 640px) {
  .our-users__wrapper {
    padding: 80px 20px 0;
  }

  .feedback-container {
    align-items: flex-start;
  }

  .feedback-button-container {
    display: none;
  }

  .leave-feedback-button {
    margin-top: 50px;
  }

  .our-users__feedback {
    margin: 0 20px 0 0;
  }
  .our-users__feedback:last-child {
    margin-right: 0;
  }

  .leave-feedback-button {
    margin: 50px auto 752px 20px;
  }
}
@media (max-width: 320px) {
  .our-users__wrapper {
    padding: 40px 10px 0;
  }

  .our-users__title {
    width: 100%;
    text-align: center;
  }

  .our-users__heading {
    width: 100%;
  }

  .our-users__subheading {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 46px;
  }

  .leave-feedback-button {
    margin: 0 auto 450px;
    padding: 0 10px;
  }

  .feedback-disc-wrapper {
    display: flex;
  }
}
.feedback {
  width: 515px;
  height: 463px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 50px 70px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.feedback__icon {
  width: 60px;
  height: 46px;
  fill: #00a092;
  margin-bottom: 30px;
}

.feedback__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
  max-height: 35px;
}

.feedback__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  max-height: 160px;
}

.feedback__author {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .feedback {
    width: 523px;
    height: 371px;
    padding: 50px 20px;
    position: relative;
  }

  .feedback__icon {
    position: absolute;
    width: 60px;
    height: 46px;
    fill: #00a092;
    margin-bottom: 30px;
  }

  .feedback__title {
    width: 289px;
    height: 70px;
    margin: 0 auto 30px;
    text-align: center;
    max-height: 70px;
  }

  .feedback__text {
    text-align: center;
  }

  .feedback__author {
    text-align: center;
  }

  .feedback-wrapper_second {
    display: none;
  }
}
@media (max-width: 320px) {
  .feedback {
    width: 100%;
    height: 549px;
    padding: 115px 20px 130px;
    position: relative;
  }

  .feedback-wrapper {
    width: 100%;
  }

  .feedback__icon {
    left: 40px;
    top: 40px;
  }

  .feedback__title {
    width: 250px;
    margin: 0 auto 20px;
  }

  .feedback__text {
    max-height: 216px;
  }
}
.care-animals__wrapper {
  padding: 136px 0 150px;
}

.care-animals__heading {
  width: 655px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.care-animals__subheading {
  width: 537px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 100px;
}

.care-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.care-card-bg {
  max-width: 920px;
}

.care-card-bg__img {
  width: 920px;
  height: 658px;
  border-radius: 5px;
}

.choose-button {
  margin: 100px auto 150px;
}

.care-animals__img {
  width: 100%;
}

@media (max-width: 1200px) {
  .care-animals__wrapper {
    padding: 150px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .care-animals__heading {
    margin-bottom: 30px;
  }

  .care-animals__subheading {
    margin-bottom: 50px;
  }

  .care-card__wrapper {
    margin: 0 auto;
  }

  .care-card__container {
    width: 930px;
  }

  .care-card-bg {
    width: 930px;
    height: 470px;
    margin-bottom: 20px;
  }

  .care-card-bg__img {
    object-fit: cover;
  }

  .choose-button {
    margin: 80px auto 150px;
  }

  .care-animals__pic {
    width: 100%;
  }

  .care-animals__img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .care-animals__wrapper {
    padding: 80px 0 100px;
  }

  .care-card-bg {
    display: none;
  }

  .care-animals__heading {
    margin-bottom: 30px;
  }

  .care-animals__subheading {
    margin-bottom: 70px;
  }

  .choose-button {
    margin: 50px auto 100px;
  }
}
@media (max-width: 320px) {
  .care-animals__wrapper {
    padding: 50px 0 80px;
  }

  .care-animals__subheading {
    margin-bottom: 50px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 130%;
  }

  .care-card-disc-wrapper {
    width: 92px;
    margin: 30px auto 50px;
    display: none;
    justify-content: space-between;
  }

  .choose-button {
    margin: 0px auto 80px;
  }
}
.care-card-bg__img {
  width: 920px;
  height: 658px;
  border-radius: 5px;
}

.care-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  height: 658px;
  background-color: #20113d;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
}

.care-card__img {
  border-radius: 5px 5px 0 0;
}

.care-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  width: 390px;
  max-height: 120px;
  margin-top: 30px;
}

.care-card__button {
  position: absolute;
  bottom: 50px;
}

.care-card-disc-wrapper {
  width: 92px;
  margin: 50px auto;
  display: none;
  justify-content: space-between;
}

.care-card-disc {
  width: 8px;
  height: 8px;
  border: 1px solid #20113d;
  border-radius: 50%;
}
.care-card-disc_current {
  background-color: #20113d;
}

@media (max-width: 1200px) {
  .care-card {
    width: 455px;
    height: 641px;
    margin-bottom: 20px;
  }

  .care-card-bg__img {
    width: 930px;
    height: 470px;
  }

  .care-card__img {
    width: 455px;
  }
}
@media (max-width: 640px) {
  .care-card__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
    overflow: hidden;
  }

  .care-card {
    flex-direction: row;
    width: 600px;
    height: 297px;
    margin-bottom: 0;
  }

  .care-card__pic {
    flex-basis: 50%;
    height: 297px;
  }

  .care-card__img {
    width: 300px;
    height: 297px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }

  .care-card__text {
    flex-basis: 50%;
    padding: 0 20px;
    margin-top: 0;
  }

  .care-card__button {
    bottom: 35px;
    right: 75px;
  }

  .care-animals__heading {
    width: auto;
  }

  .care-card-disc-wrapper {
    display: flex;
  }
}
@media (max-width: 320px) {
  .care-card__container {
    width: 300px;
  }

  .care-card {
    flex-direction: column;
    width: 300px;
    height: 570px;
    margin-bottom: 0;
  }

  .care-card__img {
    width: 300px;
    height: 395px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .care-card__button {
    bottom: 20px;
  }

  .care-card__pic {
    height: auto;
  }
}
.footer {
  background-color: #20113d;
  padding: 70px 0 36px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.logo-nav-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  width: 414px;
}

.footer__navigation .navigation__list {
  max-width: 426px;
}

.line {
  width: 100%;
}

.footer__line {
  margin: 70px 0 37px;
}

.copyright-socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 448px;
}

.copyright__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .logo-nav-button-container {
    padding: 0 40px;
  }

  .logo-list {
    width: 344px;
  }

  .footer__navigation .navigation__list {
    max-width: 347px;
  }

  .copyright-socials-container {
    padding: 0 40px;
  }

  .line {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 640px) {
  .footer {
    padding: 50px 0;
  }

  .logo-nav-button-container,
.copyright-socials-container {
    display: flex;
    flex-direction: column;
  }

  .copyright-socials-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo-nav-button-container,
.copyright-socials-container {
    padding: 0 90px;
  }

  .logo-list {
    width: 445px;
    margin-bottom: 50px;
  }

  .footer__navigation .navigation__list {
    max-width: 445px;
    margin-bottom: 50px;
  }

  .footer__line {
    margin: 50px 0;
  }

  .socials__list {
    width: 220px;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding: 50px 10px;
  }

  .logo-nav-button-container {
    width: auto;
    padding: 0;
  }

  .logo-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 210px;
    margin-bottom: 30px;
  }

  .footer__navigation .navigation__list {
    width: 300px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .copyright-socials-container {
    padding: 0;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    height: 140px;
    width: auto;
  }
}
.zoos-body {
  position: relative;
}

.live-cams__wrapper {
  padding: 50px 0 150px;
}

.live-cams-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.live-cams-top-container > * {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 0;
}

.live-cams__heading {
  flex-grow: 1;
  justify-content: center;
}

.more-live-views {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.live-cams-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-cams-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 13px;
  width: 1040px;
}

.live-cams-slide {
  position: relative;
}

.live-cams-slide iframe {
  border-radius: 5px;
}

.live-cams-slide_current iframe {
  border: 3px solid #f58021;
}

.more-live-views__heading {
  margin-bottom: 30px;
}

.sticky-container {
  position: absolute;
  height: calc(100% - 446px);
}

.live-cams-button-bottom {
  display: none;
}

@media (max-width: 1200px) {
  .live-cams__wrapper {
    padding: 30px 0 100px;
  }

  .live-cams-top-container {
    margin-bottom: 30px;
  }

  .live-stream-wrapper {
    max-width: 1025px;
    height: auto;
    margin: 0 0 0 auto;
  }

  .more-live-views {
    margin: 10px 0 0 auto;
    max-width: 1025px;
  }

  .live-cams-slider {
    width: 1040px;
  }

  .live-cams-slider {
    max-width: 835px;
  }

  .live-cams-slide iframe {
    max-width: 265px;
  }

  .live-cams-button .button {
    height: 56px;
  }
}
@media (max-width: 640px) {
  .live-cams-button {
    display: none;
  }

  .live-cams-button-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .live-cams-top-container > * {
    flex-basis: 2%;
  }

  .live-cams-slider-wrapper .button {
    display: none;
  }

  .live-cams-slider {
    max-width: 445px;
  }

  .live-stream-wrapper iframe {
    height: 405px;
  }

  .live-cams-slide iframe {
    max-width: 135px;
    height: 106px;
  }
}
.know {
  padding: 150px 0;
}

.did-you-know {
  max-width: 1040px;
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 50px 60px;
  margin: 0 auto;
}

.did-you-know__heading {
  text-align: center;
  margin-bottom: 20px;
}

.did-you-know__subheading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.animal-info-container {
  margin: 150px 0 50px;
}

.animal-info {
  padding-bottom: 50px;
}

.animal-info__details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-info__details-item {
  display: flex;
  align-items: center;
}
.animal-info__details-item:last-child {
  position: relative;
  max-width: calc(100% - 240px);
}

.animal-info__key {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.animal-info__value {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.animal-info__button {
  position: absolute;
  left: 100%;
}

.animal-info__pic {
  margin-left: 20px;
}

.animal-info__img {
  width: 440px;
  height: 440px;
  border-radius: 5px;
}

.animal-info__about {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  max-width: 1160px;
}

@media (max-width: 1200px) {
  .know {
    padding: 100px 40px;
  }

  .did-you-know {
    max-width: 930px;
  }
}
@media (max-width: 640px) {
  .know {
    padding: 80px 20px 100px;
  }

  .layout-2-col {
    flex-direction: column-reverse;
  }

  .did-you-know {
    padding: 24px 30px;
  }

  .animal-info-container {
    margin: 80px 0 0px;
  }

  .animal-info__pic {
    margin: 0 0 80px 0;
  }

  .animal-info__img {
    width: 100%;
    height: auto;
  }

  .animal-info__details-item {
    margin-bottom: 25px;
  }
}
@media (max-width: 320px) {
  .live-cams-slider {
    max-width: 300px;
    overflow: hidden;
    margin: 0;
  }

  .live-cams-slide .bage {
    display: none;
  }

  .live-cams-slide iframe {
    width: 140px;
  }

  .live-cams-slide {
    margin-right: 20px;
  }

  .did-you-know__subheading {
    font-size: 1.8rem;
    line-height: 150%;
  }

  .animal-info__details-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .animal-info__details-list {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .animal-info__value {
    padding: 0;
    margin-top: 5px;
  }

  .animal-info__button {
    position: absolute;
    left: 21px;
    bottom: -92px;
  }
}
.sidebar {
  position: sticky;
  transition: all 0.2s ease-in-out;
}
.sidebar-zoos {
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 846px;
  background-color: #20113d;
  border: 1px solid #ffffff;
}
.sidebar-zoos_closed {
  width: 220px;
}

.sidebar__top {
  position: relative;
}
.sidebar__top_zoos {
  display: flex;
  padding: 30px;
  justify-content: flex-end;
}

.button-sidebar {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #20113d;
  outline: none;
  cursor: pointer;
}

.sidebar-arrow {
  width: 16px;
  height: 15px;
}
.sidebar-arrow_zoos {
  fill: #ffffff;
  transform: rotate(180deg);
}

.sidebar-animals {
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.sidebar-title {
  width: 170px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 150%;
  color: #ffffff;
  margin-left: 20px;
}

.sidebar-animal {
  fill: #f58021;
  width: 67px;
}
.sidebar-animal_current {
  fill: #ffffff;
}
.sidebar-animal_panda {
  height: 50px;
}
.sidebar-animal_eagle {
  height: 50px;
}
.sidebar-animal_gorilla {
  height: 50px;
}
.sidebar-animal_lemur {
  height: 50px;
}

.sidebar__bottom {
  border-top: 1px solid #ffffff;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow_sidebar {
  width: 15px;
  height: 9px;
  fill: #ffffff;
}

.sidebar-zoos_closed .sidebar-arrow_zoos {
  transform: rotate(0);
}

.sidebar-zoos_closed .sidebar-title {
  display: none;
}

.circle {
  fill: #f58021;
  width: 120px;
  height: 120px;
  display: none;
}

.sidebar-zoos_closed .circle {
  display: block;
}

.sidebar-zoos_closed .sidebar-animals {
  position: relative;
}

.sidebar-zoos_closed .sidebar-animal_current.sidebar-animal + .circle {
  fill: #ffffff;
  stroke: #ffffff;
}
.sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_panda {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_eagle {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_gorilla {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_lemur {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}

.sidebar-zoos_closed .sidebar-animal_panda {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_eagle {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_gorilla {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}
.sidebar-zoos_closed .sidebar-animal_lemur {
  height: 60px;
  width: 80px;
  fill: #20113d;
  position: absolute;
}

@media (max-width: 1200px) {
  .sidebar-zoos_closed {
    width: 115px;
  }

  .sidebar-zoos_closed .sidebar__top_zoos {
    justify-content: center;
  }

  .sidebar-zoos_closed .circle {
    display: none;
  }

  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_panda {
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_eagle {
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_gorilla {
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_lemur {
    fill: #ffffff;
  }

  .sidebar-zoos_closed .sidebar-animal_panda {
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_eagle {
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_gorilla {
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_lemur {
    fill: #f58021;
  }
}
@media (max-width: 640px) {
  .sticky-container {
    height: 929px;
  }

  .sidebar-zoos_closed {
    width: 78px;
  }

  .sidebar-zoos {
    height: auto;
  }

  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_panda {
    width: 40px;
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_eagle {
    width: 40px;
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_gorilla {
    width: 40px;
    fill: #ffffff;
  }
  .sidebar-zoos_closed .sidebar-animal_current.sidebar-animal_lemur {
    width: 40px;
    fill: #ffffff;
  }

  .sidebar-zoos_closed .sidebar-animal_panda {
    width: 40px;
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_eagle {
    width: 40px;
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_gorilla {
    width: 40px;
    fill: #f58021;
  }
  .sidebar-zoos_closed .sidebar-animal_lemur {
    width: 40px;
    fill: #f58021;
  }

  .sidebar-animals {
    height: 100px;
  }
}
.bage {
  border-radius: 0 0 5px 0;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bage_sidebar-zoos {
  background-color: #f58021;
  padding: 8px 24px;
}
.bage_live-cams-slide {
  border-radius: 5px 0;
  border: 1px solid #ffffff;
  padding: 6px 40px;
}

.bage-label {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.bage-label_sidebar {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-right: 10px;
}
.bage-label_live-cams-slide {
  margin-right: 10px;
}
.bage-label_bright {
  color: #ffffff;
}

.bage-icon_bright {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  .bage_sidebar-zoos {
    display: none;
  }
}
.map {
  padding: 40px 0 150px;
}

.map__heading {
  width: 601px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  .map {
    padding: 30px 0 100px;
  }

  .map__heading {
    margin-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .map__heading {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5.1rem;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .map {
    padding: 30px 0 50px;
  }

  .map__heading {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5.1rem;
    margin-bottom: 50px;
  }

  .map__heading {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 130%;
    text-transform: lowercase;
    margin-bottom: 30px;
    width: auto;
  }

  .map__wrapper {
    overflow: hidden;
  }
}
.world-map-pic {
  position: relative;
  width: 1400px;
  height: 908px;
}

.world-map {
  width: 1400px;
  height: 908px;
}

.world-map-png {
  width: 1400px;
  height: 908px;
  display: none;
}

@media (max-width: 1200px) {
  .world-map {
    width: 1200px;
    height: 778px;
  }

  .world-map-pic {
    width: 1200px;
    height: 778px;
  }
}
@media (max-width: 640px) {
  .world-map-pic {
    width: 640px;
    height: 415px;
  }

  .world-map {
    width: 640px;
    height: 415px;
  }
}
@media (max-width: 320px) {
  .world-map-pic {
    width: 362px;
    height: 234px;
  }

  .world-map {
    display: none;
  }

  .world-map-png {
    display: block;
    position: absolute;
    right: 20px;
    width: 362px;
    height: 234px;
  }
}
.animal-location {
  position: absolute;
  transform: translate(-53px, -145px);
}
.animal-location_eagle {
  top: 59.25%;
  left: 15.28%;
}
.animal-location_alligator {
  top: 58.99%;
  left: 24.11%;
}
.animal-location_lion {
  top: 64.14%;
  left: 44.38%;
}
.animal-location_panda {
  top: 52.85%;
  left: 71.12%;
}
.animal-location_gorilla {
  top: 66.66%;
  left: 52.63%;
}
.animal-location_tiger {
  top: 69.51%;
  left: 75.46%;
}
.animal-location_lemur {
  top: 79.82%;
  left: 59.88%;
}
.animal-location_koala {
  top: 82.56%;
  left: 84.92%;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 150px;
}

.location {
  width: 106px;
  height: 150px;
  fill: #f58021;
  stroke: none;
  transition: all 0.2s ease-in-out;
}

.animal-location__link:hover .location {
  fill: #ffffff;
  stroke: #ffffff;
  filter: drop-shadow(0px 3px 3px #f58021);
}

.animal-icon {
  position: absolute;
  fill: #20113d;
}
.animal-icon_eagle {
  width: 54px;
  height: 51px;
  left: 25px;
  top: 32px;
}
.animal-icon_alligator {
  width: 59px;
  height: 48px;
  left: 23px;
  top: 32px;
}
.animal-icon_lion {
  width: 53px;
  height: 47px;
  left: 23px;
  top: 32px;
}
.animal-icon_panda {
  width: 68px;
  height: 50px;
  left: 19px;
  top: 26px;
}
.animal-icon_gorilla {
  width: 58px;
  height: 50px;
  left: 23px;
  top: 27px;
}
.animal-icon_tiger {
  width: 64px;
  height: 54px;
  left: 22px;
  top: 28px;
}
.animal-icon_lemur {
  width: 30px;
  height: 51px;
  left: 39px;
  top: 32px;
}
.animal-icon_koala {
  width: 44px;
  height: 55px;
  left: 31px;
  top: 32px;
}

@media (max-width: 640px) {
  .animal-location {
    transform: translate(-25px, -68px);
  }

  .tag {
    width: 50px;
    height: 71px;
  }

  .animal-icon {
    position: absolute;
    fill: #20113d;
  }
  .animal-icon_eagle {
    width: 25.8px;
    height: 24px;
    left: 12px;
    top: 16px;
  }
  .animal-icon_alligator {
    width: 27.8px;
    height: 22.6px;
    left: 10.8px;
    top: 15px;
  }
  .animal-icon_lion {
    width: 25px;
    height: 22.1px;
    left: 10.8px;
    top: 15px;
  }
  .animal-icon_panda {
    width: 32px;
    height: 23.6px;
    left: 9px;
    top: 12.2px;
  }
  .animal-icon_gorilla {
    width: 27.3px;
    height: 23.6px;
    left: 10.8px;
    top: 12.7px;
  }
  .animal-icon_tiger {
    width: 30.2px;
    height: 25.5px;
    left: 10.3px;
    top: 13.2px;
  }
  .animal-icon_lemur {
    width: 14.15px;
    height: 24px;
    left: 18.4px;
    top: 15px;
  }
  .animal-icon_koala {
    width: 20.7px;
    height: 25.9px;
    left: 14.6px;
    top: 15.1px;
  }
}
@media (max-width: 320px) {
  .animal-location {
    position: absolute;
    transform: translate(-49px, -135px);
  }
  .animal-location_eagle {
    top: 93.25%;
    left: 17.28%;
  }
  .animal-location_alligator {
    top: 92.99%;
    left: 26.11%;
  }
  .animal-location_lion {
    top: 98.14%;
    left: 46.38%;
  }
  .animal-location_panda {
    top: 86.85%;
    left: 73.12%;
  }
  .animal-location_gorilla {
    top: 100.66%;
    left: 54.63%;
  }
  .animal-location_tiger {
    top: 103.51%;
    left: 77.46%;
  }
  .animal-location_lemur {
    top: 113.82%;
    left: 61.88%;
  }
  .animal-location_koala {
    top: 116.56%;
    left: 86.92%;
  }

  .tag {
    width: 42px;
    height: 60px;
  }

  .animal-icon {
    position: absolute;
    fill: #20113d;
  }
  .animal-icon_eagle {
    width: 25.8px;
    height: 24px;
    left: 8px;
    top: 12px;
  }
  .animal-icon_alligator {
    width: 27.8px;
    height: 22.6px;
    left: 7.8px;
    top: 11px;
  }
  .animal-icon_lion {
    width: 25px;
    height: 22.1px;
    left: 7.8px;
    top: 11px;
  }
  .animal-icon_panda {
    width: 30px;
    height: 21.6px;
    left: 6px;
    top: 8.2px;
  }
  .animal-icon_gorilla {
    width: 27.3px;
    height: 23.6px;
    left: 6.8px;
    top: 8.7px;
  }
  .animal-icon_tiger {
    width: 30.2px;
    height: 25.5px;
    left: 6.3px;
    top: 9.2px;
  }
  .animal-icon_lemur {
    width: 14.15px;
    height: 24px;
    left: 14.4px;
    top: 11px;
  }
  .animal-icon_koala {
    width: 20.7px;
    height: 25.9px;
    left: 10.6px;
    top: 11.1px;
  }
}
.in-touch-content {
  padding: 150px 0;
}

.in-touch__heading {
  margin-bottom: 50px;
}

.in-touch__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  width: 545px;
}

.in-touch__form {
  display: flex;
  flex-direction: column;
}

.in-touch__input-wrapper,
.in-touch__textarea-wrapper {
  display: flex;
  flex-direction: column;
}

.in-touch__input,
.in-touch__textarea {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 17px 20px;
  margin-bottom: 30px;
}

.in-touch__input:focus:valid,
.in-touch__textarea:focus:valid {
  border-color: #00a092;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
  color: #00a092;
}
.in-touch__input:focus:invalid,
.in-touch__textarea:focus:invalid {
  border-color: #f58021;
  background-color: rgba(245, 128, 33, 0.3);
}

.in-touch__textarea {
  resize: none;
}
.in-touch__textarea:focus {
  outline: none;
}

.in-touch__input-label,
.in-touch__textarea-label {
  margin-bottom: 10px;
}

.in-touch__button {
  margin-top: 67px;
}

@media (max-width: 1200px) {
  .contact-us-img {
    width: 100%;
  }

  .in-touch-content {
    padding: 50px 0 100px;
    flex-direction: column;
  }

  .in-touch__heading {
    margin-bottom: 30px;
    text-align: center;
  }

  .in-touch__text {
    width: auto;
    max-width: 835px;
    text-align: center;
    margin: 0 auto 50px;
  }

  .in-touch__form-container {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
  }

  .in-touch__button {
    margin-top: 50px;
    align-self: center;
  }

  .in-touch__textarea {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .in-touch-content {
    padding: 30px 0 80px;
  }

  .in- .in-touch__heading,
.in-touch__text {
    padding: 0 20px;
  }

  .in-touch__form-container {
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .in-touch__heading,
.in-touch__text {
    padding: 0 10px;
  }

  .in-touch__form-container {
    padding: 0 10px;
  }
}
.error-404 {
  background-image: url(../assets/images/404-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.error-404__wrapper {
  padding: 100px 200px;
  font-family: "Montserrat", sans-serif;
}

.error {
  font-size: 14rem;
  font-weight: 900;
  line-height: 100%;
  text-transform: capitalize;
  text-align: end;
  color: #20113d;
  text-shadow: 7px 7px #ffffff;
}

.four-o-four {
  font-size: 40rem;
  font-weight: 900;
  line-height: 100%;
  text-transform: capitalize;
  color: #f58021;
  text-shadow: 10px 10px #20113d;
}

.page-not-found {
  font-size: 10rem;
  font-weight: 900;
  line-height: 150%;
  text-transform: capitalize;
  text-align: end;
  color: #f58021;
  text-shadow: 5px 5px #ffffff;
}

.layout-2-col {
  display: flex;
}
.layout-2-col > * {
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
