html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  display: block;
  border-width: 1px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
.heading_h1 {
  font-size: 8.8rem;
  font-weight: 800;
  line-height: 10rem;
  letter-spacing: 0.01rem;
}
.heading_h2 {
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 6.6rem;
}
.heading_bright-color {
  color: #ffffff;
}
.heading_alternative-color {
  color: #00a092;
}
.heading_h3 {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5.1rem;
}

.subheading {
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.header {
  background-color: #f58021;
}

.header__wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ico {
  transition: all 0.2s ease-in-out;
}
.ico_bright {
  fill: #ffffff;
}
.ico_secondary {
  fill: #20113d;
}

.button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
}
.button_primary {
  background-color: #f58021;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.button_primary:focus {
  outline: none;
}
.button_primary:hover {
  background-color: #d26004;
  box-shadow: 0px 4px 30px rgba(245, 130, 36, 0.3);
}
.button_transparent {
  background-color: transparent;
  color: #f58021;
}
.button_transparent:hover {
  background-color: #f58021;
  color: #ffffff;
}
.button_transparent-bordered-secondary {
  background-color: transparent;
  border: 1px solid #20113d;
}
.button_transparent-bordered-secondary:hover {
  background-color: #20113d;
  color: #ffffff;
}
.button_transparent-bordered-bright {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button_transparent-bordered-bright:hover {
  background-color: #00a092;
}
.button_size359x74 {
  width: 359px;
  height: 74px;
}
.button_size240x74 {
  width: 240px;
  height: 74px;
}
.button_size142x74 {
  width: 142px;
  height: 74px;
}
.button_size80x74 {
  width: 80px;
  height: 74px;
}
.button_size60x60 {
  width: 60px;
  height: 60px;
}

.button-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-space {
  width: 10px;
  height: 1px;
}

.button-arrow {
  width: 25px;
  height: 22px;
  transition: all 0.2s ease-in-out;
}
.button-arrow_reversed {
  transform: rotate(180deg);
}
.button-arrow_bright {
  fill: #ffffff;
}
.button-arrow_primary {
  fill: #f58021;
}
.button-arrow_secondary {
  fill: #20113d;
}

.button_transparent:hover .button-arrow_primary {
  fill: #ffffff;
}

.button_transparent-bordered-secondary:hover .button-arrow_secondary {
  fill: #ffffff;
}

.button_size60x60:hover .button-arrow_bright {
  fill: #20113d;
}

.button_transparent-bordered-bright.button_size60x60:hover {
  background-color: #ffffff;
}

.button_transparent-bordered-secondary.button_size60x60:hover {
  background-color: #20113d;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 556px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.navigation__link_bright {
  color: #ffffff;
}
.navigation__link:hover {
  color: #00a092;
}
.navigation__link_current {
  color: #00a092;
  cursor: default;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.socials__icon {
  width: 40px;
  height: 40px;
}

.socials__link {
  position: relative;
}
.socials__link::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  left: 0px;
  bottom: 4px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.socials__link:hover::after {
  opacity: 0.2;
}

.watch__bg {
  height: 790px;
  background-image: url(../../assets/images/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.watch__content {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 790px;
}

.watch__heading {
  width: 890px;
}

.watch__subheading {
  width: 430px;
}

.welcome__wrapper {
  padding: 75px 0;
}

.welcome-content__wrapper {
  padding: 75px 0;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  height: 531px;
}

.welcome-content__description {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-content__heading {
  margin-bottom: 50px;
}

.welcome-content__img {
  border-radius: 5px;
}

.quick-donate {
  background-color: #20113d;
  padding: 50px 0;
}

.quick-donate__wrapper {
  display: flex;
  justify-content: space-between;
}

.quick-donate__heading {
  color: #ffffff;
  max-width: 889px;
  margin-bottom: 20px;
}

.quick-donate__subheading {
  color: #ffffff;
  max-width: 609px;
}

.quick-donate__form {
  display: flex;
  flex-direction: column;
}

.quick-donate__input-label {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 10px;
}

.quick-donate__input-container {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 322px;
  height: 76px;
}

.quick-donate__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 14px;
}

.quick-donate__input-presymbol,
.quick-donate__input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.quick-donate__input {
  background-color: #20113d;
  margin: 0 5px;
  width: 205px;
}
.quick-donate__input::placeholder {
  color: #ffffff;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.quick-donate__input:focus::placeholder {
  opacity: 0;
}

.meet {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.meet__wrapper {
  padding: 136px 0 150px;
}

.meet__heading {
  text-align: center;
  margin-bottom: 50px;
}

.meet__subheading {
  max-width: 920px;
  text-align: center;
  margin: 0 auto;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.meet-slider {
  margin-bottom: 100px;
}

.meet-button {
  display: flex;
  justify-content: center;
}

.slider__slides {
  display: flex;
  justify-content: space-between;
}

.slider__buttons {
  width: 175px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto 50px;
}

.slide {
  width: 440px;
  height: 747px;
  background-color: #20113d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  transition: transform 0.2s ease-in-out;
  margin: 0 40px 40px 0;
  position: relative;
}
.slide:hover {
  transform: scale(1.045);
}
.slide:last-child:hover {
  transform: none;
}

.slide__bage {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #20113d;
  padding: 12px 20px;
  border-radius: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
  text-transform: capitalize;
}

.slide__img {
  border-radius: 5px 5px 0 0;
}

.slide__title {
  padding: 30px;
}

.slide__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
}

.slide__subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  height: 80px;
}

.slide__button {
  position: absolute;
  bottom: 50px;
}

.pay-feed {
  background-color: #20113d;
  padding: 90px 0 100px;
}

.pay-feed-desc__divider {
  display: flex;
  align-items: center;
  margin: 100px 0 90px;
}

.pay-feed-desc__count {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
  width: 120px;
}

.pay-feed-desc__line {
  width: 100%;
  border-color: #ffffff;
}

.pay-feed-detail__img {
  border-radius: 5px;
  width: 560px;
}

.pay-feed-title__icon {
  fill: #00a092;
  height: 80px;
  margin-bottom: 30px;
}
.pay-feed-title__icon_1 {
  width: 106px;
}
.pay-feed-title__icon_2 {
  width: 100px;
}
.pay-feed-title__icon_3 {
  width: 80px;
}

.pay-feed-title {
  padding: 20px 0 0 20px;
}

.pay-feed-title__title,
.pay-feed-title__text {
  width: 560px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.pay-feed-title__title {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 50px;
}

.pay-feed-title__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.pay-feed-button-container {
  margin-top: 50px;
}

.pay-feed-button-wrapper {
  padding-left: 20px;
}

.our-users {
  background-image: url(../../assets/images/user-think-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 100px 0 150px;
  overflow: hidden;
}

.our-users__wrapper {
  display: flex;
}

.our-users__title {
  width: 560px;
  flex-shrink: 0;
  margin-right: 40px;
}

.our-users__heading {
  width: 440px;
  margin-bottom: 50px;
}

.our-users__subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-wrapper {
  display: flex;
}

.our-users__feedback {
  margin: 0 30px 30px 0;
}
.our-users__feedback:last-child {
  margin-right: 0;
}

.feedback-button-container {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-top: 60px;
}

.leave-feedback-button {
  margin-top: 376px;
}

.feedback {
  width: 515px;
  height: 463px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 50px 70px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.feedback__icon {
  width: 60px;
  height: 46px;
  fill: #00a092;
  margin-bottom: 30px;
}

.feedback__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
  max-height: 35px;
}

.feedback__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  max-height: 160px;
}

.feedback__author {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-transform: uppercase;
}

.care-animals__wrapper {
  padding: 136px 0 150px;
}

.care-animals__heading {
  width: 655px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.care-animals__subheading {
  width: 537px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 100px;
}

.care-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.care-card-bg {
  width: 920px;
  height: 658px;
}

.care-card-bg__img {
  width: 920px;
  height: 658px;
  border-radius: 5px;
}

.choose-button {
  margin: 100px auto 150px;
}

.care-card-bg__img {
  width: 920px;
  height: 658px;
  border-radius: 5px;
}

.care-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  height: 658px;
  background-color: #20113d;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
}

.care-card__img {
  border-radius: 5px 5px 0 0;
}

.care-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  width: 390px;
  max-height: 120px;
  margin-top: 30px;
}

.care-card__button {
  position: absolute;
  bottom: 50px;
}

.footer {
  background-color: #20113d;
  height: 330px;
  padding: 70px 0 36px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.logo-nav-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  width: 414px;
}

.footer__navigation .navigation__list {
  width: 426px;
}

.line {
  width: 100%;
}

.footer__line {
  margin: 70px 0 37px;
}

.copyright-socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 448px;
}

.copyright__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
}

.layout-2-col {
  display: flex;
}
.layout-2-col > * {
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
