.bage {
  border-radius: 0 0 5px 0;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &_sidebar-zoos {
    background-color: $color-primary;
    padding: 8px 24px;
  }
  &_live-cams-slide {
    border-radius: 5px 0;
    border: 1px solid $color-bright;
    padding: 6px 40px;
  }
}

.bage-label {
  font-family: $font-primary;
  text-transform: uppercase;
  &_sidebar {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-right: 10px;
  }
  &_live-cams-slide {
    margin-right: 10px;
  }
  &_bright {
    color: $color-bright;
  }
}

.bage-icon {
  &_bright {
    fill: $color-bright;
    width: 20px;
    height: 20px;
  }
}

@include media-laptop {
  .bage_sidebar-zoos {
    display: none;
  }
}
