.bage {
  border-radius: 0 0 5px 0;
  &_sidebar-zoos {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-primary;
    padding: 8px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.bage-label {
  font-family: $font-primary;
  text-transform: uppercase;
  &_sidebar {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-right: 10px;
  }
  &_bright {
    color: $color-bright;
  }
}

.bage-icon {
  &_bright {
    fill: $color-bright;
    width: 20px;
    height: 20px;
  }
}
