.care-animals__wrapper {
  padding: 136px 0 150px;
}

.care-animals__heading {
  width: 655px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.care-animals__subheading {
  width: 537px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 100px;
}

.care-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.care-card-bg {
  max-width: 920px;
}

.care-card-bg__img {
  width: 920px;
  height: 658px;
  border-radius: 5px;
}

.choose-button {
  margin: 100px auto 150px;
}

.care-animals__img {
  width: 100%;
}

@include media-laptop {
  .care-animals__wrapper {
    padding: 150px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .care-animals__heading {
    margin-bottom: 30px;
  }
  .care-animals__subheading {
    margin-bottom: 50px;
  }
  .care-card__wrapper {
    margin: 0 auto;
  }
  .care-card__container {
    width: 930px;
  }

  .care-card-bg {
    width: 930px;
    height: 470px;
    margin-bottom: 20px;
  }
  .care-card-bg__img {
    object-fit: cover;
  }
  .choose-button {
    margin: 80px auto 150px;
  }
  .care-animals__pic {
    width: 100%;
  }
  .care-animals__img {
    width: 100%;
  }
}

@include media-tablet {
  .care-animals__wrapper {
    padding: 80px 0 100px;
  }
  .care-card-bg {
    display: none;
  }
  .care-animals__heading {
    margin-bottom: 30px;
  }
  .care-animals__subheading {
    margin-bottom: 70px;
  }
  .choose-button {
    margin: 50px auto 100px;
  }
}

@include media-mobile {
  .care-animals__wrapper {
    padding: 50px 0 80px;
  }
  .care-animals__subheading {
    margin-bottom: 50px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 130%;
  }
  .care-card-disc-wrapper {
    width: 92px;
    margin: 30px auto 50px;
    display: none;
    justify-content: space-between;
  }
  .choose-button {
    margin: 0px auto 80px;
  }
}
