.know {
  padding: 150px 0;
}

.did-you-know {
  max-width: 1040px;
  background-color: $color-bright;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 50px 60px;
  margin: 0 auto;
}

.did-you-know__heading {
  text-align: center;
  margin-bottom: 20px;
}

.did-you-know__subheading {
  text-align: center;
  font-family: $font-primary;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.animal-info-container {
  margin: 150px 0 50px;
}

.animal-info {
  padding-bottom: 50px;
}

.animal-info__details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-info__details-item {
  display: flex;
  align-items: center;
  &:last-child {
    position: relative;
    max-width: calc(100% - 240px);
  }
}

.animal-info__key {
  font-family: $font-primary;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
}

.animal-info__value {
  padding-left: 20px;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.animal-info__button {
  position: absolute;
  left: 100%;
}
.animal-info__pic {
  margin-left: 20px;
}
.animal-info__img {
  width: 440px;
  height: 440px;
  border-radius: 5px;
}

.animal-info__about {
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  max-width: 1160px;
}

@include media-laptop {
  .know {
    padding: 100px 40px;
  }
  .did-you-know {
    max-width: 930px;
  }
}

@include media-tablet {
  .know {
    padding: 80px 20px 100px;
  }
  .layout-2-col {
    flex-direction: column-reverse;
  }
  .did-you-know {
    padding: 24px 30px;
  }
  .animal-info-container {
    margin: 80px 0 0px;
  }
  .animal-info__pic {
    margin: 0 0 80px 0;
  }
  .animal-info__img {
    width: 100%;
    height: auto;
  }
  .animal-info__details-item {
    margin-bottom: 25px;
  }
}

@include media-mobile {
  .live-cams-slider {
    max-width: 300px;
    overflow: hidden;
    margin: 0;
  }
  .live-cams-slide .bage {
    display: none;
  }
  .live-cams-slide iframe {
    width: 140px;
  }
  .live-cams-slide {
    margin-right: 20px;
  }
  .did-you-know__subheading {
    font-size: 1.8rem;
    line-height: 150%;
  }
  .animal-info__details-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .animal-info__details-list {
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .animal-info__value {
    padding: 0;
    margin-top: 5px;
  }
  .animal-info__button {
    position: absolute;
    left: 21px;
    bottom: -92px;
  }
}
