.animal-location {
  position: absolute;
  transform: translate(-53px, -145px);

  &_eagle {
    top: 59.25%;
    left: 15.28%;
  }
  &_alligator {
    top: 58.99%;
    left: 24.11%;
  }
  &_lion {
    top: 64.14%;
    left: 44.38%;
  }
  &_panda {
    top: 52.85%;
    left: 71.12%;
  }
  &_gorilla {
    top: 66.66%;
    left: 52.63%;
  }
  &_tiger {
    top: 69.51%;
    left: 75.46%;
  }
  &_lemur {
    top: 79.82%;
    left: 59.88%;
  }
  &_koala {
    top: 82.56%;
    left: 84.92%;
  }
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 150px;
}

.location {
  width: 106px;
  height: 150px;
  fill: $color-primary;
  stroke: none;
  transition: all 0.2s ease-in-out;
}

.animal-location__link:hover .location {
  fill: $color-bright;
  stroke: $color-bright;
  filter: drop-shadow(0px 3px 3px rgba(245, 128, 33, 4.7));
}

.animal-icon {
  position: absolute;
  fill: $color-secondary;
  &_eagle {
    width: 54px;
    height: 51px;
    left: 25px;
    top: 32px;
  }
  &_alligator {
    width: 59px;
    height: 48px;
    left: 23px;
    top: 32px;
  }
  &_lion {
    width: 53px;
    height: 47px;
    left: 23px;
    top: 32px;
  }
  &_panda {
    width: 68px;
    height: 50px;
    left: 19px;
    top: 26px;
  }
  &_gorilla {
    width: 58px;
    height: 50px;
    left: 23px;
    top: 27px;
  }
  &_tiger {
    width: 64px;
    height: 54px;
    left: 22px;
    top: 28px;
  }
  &_lemur {
    width: 30px;
    height: 51px;
    left: 39px;
    top: 32px;
  }
  &_koala {
    width: 44px;
    height: 55px;
    left: 31px;
    top: 32px;
  }
}

@include media-tablet {
  .animal-location {
    transform: translate(-25px, -68px);
  }
  .tag {
    width: 50px;
    height: 71px;
  }

  .animal-icon {
    position: absolute;
    fill: $color-secondary;
    &_eagle {
      width: 25.8px;
      height: 24px;
      left: 12px;
      top: 16px;
    }
    &_alligator {
      width: 27.8px;
      height: 22.6px;
      left: 10.8px;
      top: 15px;
    }
    &_lion {
      width: 25px;
      height: 22.1px;
      left: 10.8px;
      top: 15px;
    }
    &_panda {
      width: 32px;
      height: 23.6px;
      left: 9px;
      top: 12.2px;
    }
    &_gorilla {
      width: 27.3px;
      height: 23.6px;
      left: 10.8px;
      top: 12.7px;
    }
    &_tiger {
      width: 30.2px;
      height: 25.5px;
      left: 10.3px;
      top: 13.2px;
    }
    &_lemur {
      width: 14.15px;
      height: 24px;
      left: 18.4px;
      top: 15px;
    }
    &_koala {
      width: 20.7px;
      height: 25.9px;
      left: 14.6px;
      top: 15.1px;
    }
  }
}

@include media-mobile {
  .animal-location {
    position: absolute;
    transform: translate(-49px, -135px);

    &_eagle {
      top: 93.25%;
      left: 17.28%;
    }
    &_alligator {
      top: 92.99%;
      left: 26.11%;
    }
    &_lion {
      top: 98.14%;
      left: 46.38%;
    }
    &_panda {
      top: 86.85%;
      left: 73.12%;
    }
    &_gorilla {
      top: 100.66%;
      left: 54.63%;
    }
    &_tiger {
      top: 103.51%;
      left: 77.46%;
    }
    &_lemur {
      top: 113.82%;
      left: 61.88%;
    }
    &_koala {
      top: 116.56%;
      left: 86.92%;
    }
  }
  .tag {
    width: 42px;
    height: 60px;
  }

  .animal-icon {
    position: absolute;
    fill: $color-secondary;

    &_eagle {
      width: 25.8px;
      height: 24px;
      left: 8px;
      top: 12px;
    }
    &_alligator {
      width: 27.8px;
      height: 22.6px;
      left: 7.8px;
      top: 11px;
    }
    &_lion {
      width: 25px;
      height: 22.1px;
      left: 7.8px;
      top: 11px;
    }
    &_panda {
      width: 30px;
      height: 21.6px;
      left: 6px;
      top: 8.2px;
    }
    &_gorilla {
      width: 27.3px;
      height: 23.6px;
      left: 6.8px;
      top: 8.7px;
    }
    &_tiger {
      width: 30.2px;
      height: 25.5px;
      left: 6.3px;
      top: 9.2px;
    }
    &_lemur {
      width: 14.15px;
      height: 24px;
      left: 14.4px;
      top: 11px;
    }
    &_koala {
      width: 20.7px;
      height: 25.9px;
      left: 10.6px;
      top: 11.1px;
    }
  }
}
