.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 556px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.navigation__link {
  &_bright {
    color: $color-bright;
  }
  &:hover {
    color: $color-alternative;
  }
  &_current {
    color: $color-alternative;
    cursor: default;
  }
}
