.nav-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 556px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.nav-link {
  &:hover {
    color: $color-alternative;
  }
  &_current {
    color: $color-alternative;
    cursor: default;
  }
}
