.our-users {
  background-image: url(../assets/images/user-think-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  overflow: hidden;
}

.our-users__wrapper {
  padding: 100px 0 150px;
  display: flex;
}

.our-users__title {
  width: 560px;
  flex-shrink: 0;
  margin-right: 40px;
}

.our-users__heading {
  width: 440px;
  margin-bottom: 50px;
}

.our-users__subheading {
  font-family: $font-primary;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: $color-bright;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-wrapper {
  display: flex;
}

.our-users__feedback {
  margin: 0 30px 30px 0;
  &:last-child {
    margin-right: 0;
  }
}

.feedback-disc-wrapper {
  width: 92px;
  margin: 30px auto 50px;
  display: none;
  justify-content: space-between;
}

.feedback-disc {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $color-bright;
  &_current {
    background-color: $color-bright;
  }
}

.feedback-button-container {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-top: 60px;
}

.leave-feedback-button {
  margin-top: 376px;
}

@include media-laptop {
  .our-users__wrapper {
    flex-direction: column;
    padding: 100px 0 0px 40px;
  }
  .our-users__heading {
    margin-bottom: 30px;
  }
  .our-users__subheading {
    margin-bottom: 50px;
  }
  .feedback-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .our-users__title {
    width: 577px;
  }
  .feedback-button-container {
    margin: 70px 40px 0 0;
  }
  .leave-feedback-button {
    margin: 97px 0 150px 140px;
  }
}

@include media-tablet {
  .our-users__wrapper {
    padding: 80px 20px 0;
  }
  .feedback-container {
    align-items: flex-start;
  }
  .feedback-button-container {
    display: none;
  }

  .leave-feedback-button {
    margin-top: 50px;
  }

  .our-users__feedback {
    margin: 0 20px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
  .leave-feedback-button {
    margin: 50px auto 752px 20px;
  }
}

@include media-mobile {
  .our-users__wrapper {
    padding: 40px 10px 0;
  }
  .our-users__title {
    width: 100%;
    text-align: center;
  }
  .our-users__heading {
    width: 100%;
  }
  .our-users__subheading {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 46px;
  }
  .leave-feedback-button {
    margin: 0 auto 450px;
    padding: 0 10px;
  }
  .feedback-disc-wrapper {
    display: flex;
  }
}
