.pay-feed {
  background-color: $color-secondary;
}

.pay-feed__wrapper {
  padding: 90px 0 100px;
}

.pay-feed-desc__divider {
  display: flex;
  align-items: center;
  margin: 100px 0 90px;
}

.pay-feed-desc__count {
  font-family: $font-primary;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  color: $color-bright;
  width: 120px;
}

.pay-feed-desc__line {
  width: 100%;
  border-color: $color-bright;
}

.pay-feed-detail__img {
  border-radius: 5px;
  width: 560px;
}

.pay-feed-title__icon {
  fill: $color-alternative;
  height: 80px;
  margin-bottom: 30px;
  &_1 {
    width: 106px;
  }
  &_2 {
    width: 100px;
  }
  &_3 {
    width: 80px;
  }
}

.pay-feed-title {
  padding: 20px 0 0 20px;
}

.pay-feed-title__title,
.pay-feed-title__text {
  width: 560px;
  font-family: $font-primary;
  color: $color-bright;
}

.pay-feed-title__title {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 50px;
}

.pay-feed-title__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

.pay-feed-button-container {
  margin-top: 50px;
}

.pay-feed-button-wrapper {
  padding-left: 20px;
}

@include media-laptop {
  .pay-feed__wrapper {
    padding: 150px 40px 100px;
  }
  .pay-feed__heading {
    margin-bottom: 100px;
  }
  .pay-feed-desc__divider {
    margin: 80px 0 62px;
  }
  .pay-feed-detail__img {
    width: 550px;
  }
  .pay-feed-detail {
    display: flex;
    align-items: center;
  }
  .pay-feed-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pay-feed-title__title,
  .pay-feed-title__text {
    width: 550px;
    text-align: center;
  }
  .pay-feed-title__title {
    margin-bottom: 30px;
  }
  .pay-feed__content {
    margin-bottom: 100px;
  }
  .pay-feed-button-container {
    margin-top: 0px;
  }
}

@include media-tablet {
  .pay-feed__wrapper {
    padding: 80px 0px;
  }
  .pay-feed__heading {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  .pay-feed-desc__divider {
    margin: 50px 0;
    padding: 0 20px;
  }
  .pay-feed-detail {
    flex-direction: column;
  }
  .pay-feed-title {
    padding: 0 20px;
    margin-top: 50px;
  }
  .pay-feed-button-container {
    flex-direction: column;
  }
  .pay-feed__content {
    margin-bottom: 50px;
  }
  .pay-feed-button-wrapper {
    padding: 0 20px;
    margin: 0 auto;
  }
}
