.watch__bg {
  height: 790px;
  background-image: url(../../assets/images/top-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.watch__wrapper {
  padding-top: 130px;
}

.watch__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px;
}

.watch__heading {
  width: 890px;
}

.watch__subheading {
  width: 430px;
}

@include media-laptop {
  .watch__bg {
    height: 690px;
  }
  .watch__wrapper {
    padding: 100px 40px 0;
  }
  .watch__content {
    height: 490px;
  }
}

@include media-tablet {
  .watch__wrapper {
    padding: 50px 20px;
  }
  .watch__content {
    height: 544px;
  }
  .watch__heading {
    width: auto;
    font-size: 7.2rem;
    line-height: 8.8rem;
  }
  .watch__bg {
    height: 644px;
    background-size: contain;
    background-position: bottom;
  }
}
