html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-dark;
  transition: $transition;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

hr {
  display: block;
  border-width: 1px;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.heading {
  font-family: $font-primary;
  font-style: normal;
  text-transform: uppercase;
  &_h1 {
    font-size: 8.2rem;
    font-weight: 800;
    line-height: 10rem;
    letter-spacing: 0.01rem;
  }
  &_h2 {
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 6.6rem;
  }
  &_bright-color {
    color: $color-bright;
  }
  &_alternative-color {
    color: $color-alternative;
  }
  &_secondary-color {
    color: $color-secondary;
  }
  &_h3 {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5.1rem;
  }
}

.subheading {
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
}

@include media-laptop {
  .wrapper {
    max-width: $laptop-width;
  }
}

@include media-tablet {
  .wrapper {
    max-width: $tablet-width;
  }
}

@include media-mobile {
  .wrapper {
    max-width: $mobile-width;
  }
}
