.header {
  background-color: $color-primary;
}

.header__wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.hamburger-menu {
  display: none;
}

.stick-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.stick {
  height: 2.3px;
  width: 30px;
  background-color: $color-secondary;
  position: absolute;
  &_top {
    top: 0;
  }
  &_middle {
    top: 15px;
  }
  &_bottom {
    bottom: 0;
  }
}

@include media-laptop {
  .header__wrapper {
    padding: 0 100px;
  }
}

@include media-tablet {
  .header__wrapper {
    padding: 0 47px 0 20px;
  }
  .nav-socials {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
